*{
    margin:0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}
/* -------------------------------------home - page------------------------------------------------ */
.home-page{
  background-image: url("https://res.cloudinary.com/djz4lxe3f/image/upload/v1685357402/Hotel-booking/vidar-nordli-mathisen-CTlRgg7Gfmw-unsplash_uvrbbu.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
  background-color: rgba(207, 191, 191, 0.2);

} 
.main-container{
    display: flex;
    height: 100vh;
    background-color: #28626a;
    background-image: linear-gradient(90deg, #28626a 0%, #c626c7 100%);

     /* background-color: #4158D0; */
    /* background-image: linear-gradient(43deg, #4158D0 29%, #ce4bc5 71%, #fdd78f 100%); */
    ; 
    /* background: linear-gradient(to bottom, #837878, #6f7392); */
}
.text-homepage{
    width: 100vh;
    display: flex;
    flex-direction: column;
   
}
/* -----------------------------------------------------------TEXT SECTION ON THE HOMEPAGE ------------------------------------------------------------------------------*/
#title-text{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
    color:#eaeaeb;
}
#title-paragraph{
    font-size: 28px;
    padding-top: 50px;
    text-align: center;
    color:#fefdff
}
/* ------------------------------------- ANIMATION ON HEAD PHONE--------------------------------------------- */
.flip-card {
    width: 100px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 50%;
    height: 70%;
    /* text-align: center; */
    align-items: center;
    animation: rotate 4s infinite linear;
    margin-top: 90px;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(360deg);
  }
  
  .flip-card-front, .flip-card-back {
    
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
  
    color: coral;
  }
  
  .flip-card-back {
   
    color: white;
    transform: rotateY(180deg);
  }
  /* -------------------------------HOME BUTTON----------------------------------- */
  button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: #02022293;
    /* box-shadow: transparent; */
    /* border: 1px solid #ffffff; */
    transition: 0.5s ease;
    /* user-select: none; */
    margin-top: 60px;
  }
  
  #btn:hover,:focus {
    color: #ffffff;
    background: #031e4e;
    /* border: 1px solid #008cff; */
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #8c00ff,
                0 0 20px #031320,
                0 0 50px #011322,
                0 0 100px #011e35;
  }
  #btn{
    align-self: center;
  }
  /* ---------------------------music-choice-------------------------- */
  #choice{
    text-align: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #212122 29%, #2c2b2c 71%, #3d3c3a 100%);
    ;
    color:whitesmoke;
    font-size: 40px;
  }
  /* --------------------------------MIN-PARAGRAPH--------------------------------------------------------- */
  .min-paragraph{
    height: 30vh;
    display: flex;
    justify-content:space-evenly;
     background-image: url("https://res.cloudinary.com/djz4lxe3f/image/upload/v1685357121/Hotel-booking/danny-howe-bn-D2bCvpik-unsplash_v29qwc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
  }
  
  /* ---------------min-btnone-------------- */
  #min-btnone{
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 17px;
        font-weight: 500;
        color:whitesmoke;
        text-shadow: none;
        background: #6c3e86cb;
        box-shadow: transparent;
        transition: 0.5s ease;
        margin-top: 60px;
        text-decoration: none;
}
/* -------------------min-btntwo-------------------- */
#min-btntwo{
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color:whitesmoke;
    background: #6c3e86cb;
    transition: 0.5s ease;
    margin-top: 60px;
    text-decoration: none;
}
/* --------------min-btnthree------------------------------------------- */
#min-btnthree{
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color:whitesmoke;
    background: #6c3e86cb;
    transition: 0.5s ease;
    margin-top: 60px;
    text-decoration: none;
}
/* --------------------------------nav bar------------------------------------------- */

html{
  scroll-behavior: smooth;
}

.nav-barr {
  position: fixed;
  width: 100%;
  /* height: 40%; */
}
.nav img {
  width: 5em;
  margin-left: 2em;
}
.nav {
  height: 50px;
  width: 100%;
  background: #4f2958;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.nav>.nav-header {
  display: inline;
}
.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: whitesmoke;
  padding: 10px 10px 10px 10px;
}
.nav>.nav-btn {
  display: none;
}
.nav>.nav-links {
  margin-right: 4em;
  display: inline;
  float: right;
  font-size: 18px;
}
.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: rgb(10, 10, 10);
}
.nav>.nav-links>a:hover {
  color: #faf9fa;
}
.nav>#nav-check {
  display: none;
}
@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 23px;
    padding: 13px;
  }
  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: #fdf7ff;
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000000;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
     padding-left: 20px;
    background-color: #f7f6f8;
    transition: all 0.3s ease-in;
    top: 50px;
    left: 0px;
  }
  .nav>.nav-links>a {
    width: 100%;
  }
  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0vh;
    background-color: #141414;
  }
  .nav>#nav-check:not(:checked)~.nav-links > a{
    visibility: hidden;
  }
  
  .nav>#nav-check:checked~.nav-links {
    height: calc(60vh - 0px);
  }
}